.common-block, .info, .block, footer, .nav-div nav > ul, .list-option, header, h1, h2, h3, p, span, td {
  font-family: Arial, sans-serif;
  color: #49536c;
}

.nav-div nav > ul .common-nav-item:hover, .nav-div nav > ul li:hover {
  background-color: rgba(171, 196, 255, 0.88);
  box-shadow: 0 0 20px 10px #abc4ff;
}

body {
  background-color: #edf2fa;
  margin: 0;
}

.main-body {
  width: 1500px;
  margin-left: 200px;
}

header {
  margin-left: 50px;
  margin-top: 30px;
}

.common-img, .list-img, .cat-list-img {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  border: 0;
}

.list-option {
  font-size: 100%;
  vertical-align: middle;
}

.nav-div {
  background-color: #ccdbfd;
  padding: 20px;
}
.nav-div nav > ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 110%;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  vertical-align: middle;
}
.nav-div nav > ul .common-nav-item, .nav-div nav > ul li {
  flex: 1;
  text-align: center;
  border-radius: 20px;
  align-self: center;
  vertical-align: middle;
}

a {
  color: #49536c;
  text-decoration: none;
}

.submenu-par {
  display: flex;
  justify-content: center;
  position: relative;
}
.submenu-par .submenu {
  justify-content: center;
  position: absolute;
  top: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  border-radius: 20px;
  transition: all 0.5s ease-in;
}
.submenu-par .submenu .submenu-item, .submenu-par .submenu li {
  background-color: rgba(73, 83, 108, 0.75);
  width: 150px;
  border-radius: 20px;
  list-style: none;
  padding: 10px;
  margin-top: 10px;
  box-shadow: none;
}
.submenu-par .submenu .submenu-item:hover, .submenu-par .submenu li:hover {
  background-color: rgba(73, 83, 108, 0.75);
  box-shadow: 0 0 20px 10px #abc4ff;
}
.submenu-par .submenu .submenu-item a, .submenu-par .submenu li a {
  color: #ccdbfd;
}

footer {
  background-color: #ccdbfd;
  font-size: 120%;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

img {
  border-radius: 20px;
  border: 10px solid #abc4ff;
}

.common-block, .info, .block {
  background-color: #ccdbfd;
  border-radius: 20px;
  text-align: center;
  font-size: 120%;
}

.form {
  background-color: #abc4ff;
  color: #49536c;
  width: 700px;
  margin: 30px auto;
  padding: 50px 0;
  font-size: 120%;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.but, .field, .scrollbar {
  font-size: 90%;
  color: #49536c;
  border: 2px solid #edf2fa;
  font-family: Arial, sans-serif;
}
.but:hover, .field:hover, .scrollbar:hover {
  border: 2px solid white;
  background-color: rgb(154.9245283019, 184.358490566, 251.0754716981);
}
.but:active, .field:active, .scrollbar:active {
  border: 2px solid rgba(73, 83, 108, 0.75);
}

button {
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.calendar-container {
  display: none;
  width: 252px;
  background: rgba(252, 237, 242, 0.93);
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  opacity: 0;
  overflow: hidden;
}

.scrollbar {
  max-height: 100px;
  overflow-y: auto;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.common-day-block, .day-block, .weekday-block {
  color: #49536c;
  padding: 5px;
  width: 22px;
  margin: 2px;
  text-align: center;
  border-radius: 10px;
}
.common-day-block.day-block, .day-block {
  background: #ffd1d4;
}
.common-day-block.day-block:hover, .day-block:hover {
  background: rgb(255, 234, 238.0833333333);
}

.calendar-but {
  border-radius: 10px;
  padding: 5px;
  margin: 0;
  background: #ffb7c5;
}
.calendar-but:hover {
  background: rgb(255, 92, 132.75);
}

.form-div {
  margin: 0 auto;
  width: 80%;
}

textarea, input.field, input.text, select {
  caret-color: #49536c;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
}
textarea:focus, textarea:hover, input.field:focus, input.field:hover, input.text:focus, input.text:hover, select:focus, select:hover {
  border: 2px solid rgba(73, 83, 108, 0.75);
}

.photoForm {
  display: none;
  position: absolute;
  width: 600px;
  height: 700px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  background: #abc4ff;
  border-radius: 20px;
  padding: 10px;
  transition: opacity 1s ease;
}
.photoForm.show {
  opacity: 1;
}

.form-but {
  position: relative;
  margin-top: 30px;
  width: 300px;
  font-size: 120%;
  color: #49536c;
  border: 2px solid #edf2fa;
  font-family: Arial, sans-serif;
}
.form-but:hover {
  border: 2px solid white;
  background-color: rgb(154.9245283019, 184.358490566, 251.0754716981);
}
.form-but:active {
  border: 2px solid rgba(73, 83, 108, 0.75);
}

.field.error {
  border-radius: 10px;
  background: rgba(255, 109, 107, 0.9);
}
.field.valid {
  border-radius: 10px;
  background: rgba(163, 255, 176, 0.9);
}

span.error-message, .error-message, .error-message-calendar {
  position: absolute;
  color: rgba(255, 109, 107, 0.9);
  font-size: 90%;
  font-weight: bold;
  display: none;
}
span.error-message.active, .error-message.active, .error-message-calendar.active {
  display: block;
}

.submit-btn {
  background-color: grey;
  cursor: not-allowed;
}
.submit-btn.active {
  background-color: #004d00;
  cursor: pointer;
}

.current-session-div, .all-session-div {
  text-align: center;
  display: inline-block;
  width: 50%;
}

.current-session-table-div, .all-session-table-div {
  display: flex;
  justify-content: center;
}

.current-session-table, .all-session-table {
  font-size: 120%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: #49536c;
  background: #ccdbfd;
  font-family: Arial, sans-serif;
}
.current-session-table td, .current-session-table th, .all-session-table td, .all-session-table th {
  padding: 5px 10px;
}

/*# sourceMappingURL=style.css.map */
